.edit-ao-form {
    width: 1200px;
    margin: 0 auto;
  }
  
  .edit-title {
    width: 100%;
    border-bottom: 1px solid black;
    display: flex;
    column-gap: 20px;
    align-items: center;
  }
  
  .edit-ao-form h2 {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .edit-ao-form form {
    display: flex;
    flex-direction: column;
  }
  
  .edit-ao-form label {
    margin-bottom: 10px;
  }
  
  .edit-ao-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .edit-ao-form button:hover {
    background-color: #0056b3;
  }
  
  .edit-input-box {
    display: flex;
    position: relative;
    width: 90%;
    justify-self: center;
    justify-content: center;
    align-items: center;
  }
  
  .edit-input-box input,
  .edit-opt {
    outline: none;
    width: 100%;
    position: relative;
    background: none;
    border: 0;
    color: black;
    border-bottom: 1px solid black;
    bottom: 0%;
    font-size: 16px;
    box-shadow: 0px 8px 15px -8px #111;
  }
  
  .edit-input-box input:focus ~ label,
  .edit-input-box input:valid+label {
    transform: translateY(-27px);
    font-size: 15px;
    color: black;
  }
  
  .edit-input-box label {
    position: absolute;
    color: black;
    left: 0%;
    margin-bottom: 7px;
    transition: all 0.5s ease;
    font-size: 18px;
    font-weight: 300;
  }
  
  .edit-input-box input:invalid {
    outline: 0;
  }
  
  .edit-divide {
    display: flex;
    position: relative;
    justify-content: space-between;
    column-gap: 2vw;
    margin-bottom: 50px;
  }
  
  .form-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 10px;
    margin-top: 50px;
  }
  